.container
  %br/
  - flash.each do |name, msg|
    = content_tag :div, msg, class: "alert alert-#{name}"
  - if @card.present?
    %div
      .panel.panel-default
        .panel-heading= t :card
        .panel-body
          %div.text-center
            = image_tag @card.image.url(:medium)
          %p
            %b
              %em= t :translated_text
            = @card.translated_text
          %hr
          = render 'form'
  - else
    .alert.alert-info
      %p= t :not_cards
