.container
  %h1= t 'login'
  %p= flash[:notice]
  %p= flash[:alert]
  = link_to t( :login_twitter), auth_at_provider_path(provider: :twitter)

  = form_tag sessions_path, class: "form-horizontal", method: "post" do
    %fieldset 
      .form-group
        .col-lg-12
          %label.control-label Email
          = text_field_tag :email ,"", class: "form-control"
          %label.control-label=  t "password"
          = password_field_tag :password ,"", class: "form-control"
          %br/
        .col-lg-12
          = submit_tag t(:login), class: "btn btn-default"
