<%= form_for :card, url: cards_path do |f| %>

<% if @card.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@card.errors.count, "error") %> prohibited
    this card from being saved:
  </h2>
  <ul>
    <% @card.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<fieldset>
  <legend>Введите следующую информацию</legend>
  <div class="form-group">
    <%= f.label :original_text, "Оригинальный текст", class: "col-lg-2 control-label"%><br>
    <div class="col-lg-10">
      <%= f.text_field :original_text, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :translated_text, "Перевод", class: "col-lg-2 control-label"%><br>
    <div class="col-lg-10">
      <%= f.text_field :translated_text, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit "Создать" , class:"btn btn-primary"%>
    </div>
  </div>
</fieldset>
<% end %>