%h1= @deck.name.titleize
%table.table.table-striped.table-hover
  %thead
    %tr
      %td
        %strong Оригинальный текст
      %td
        %strong Перевод
      %td
        %strong Дата просмотра
  %tbody
    - @cards.each do |card|
      %tr
        %td= card.original_text
        %td= card.translated_text
        %td= card.review_date.strftime("%d/%m/%Y")
        %td= link_to "Просмотреть", deck_card_path(@deck, card)
        %td= link_to "Удалить", deck_card_path(@deck, card), method: :delete, data: { confirm: "Вы уверены?" }
        %td= link_to "Редактировать", edit_deck_card_path(@deck, card)

%p.text-right
  = link_to "Добавить карточку", new_deck_card_path(@deck, @user), class: "btn btn-primary"